html body {
  margin: 0;
  padding: 0;
}

.father {
  display: grid;
  grid-template-columns: [one] 100px [two] 200px [three] 100px [four];
  grid-template-rows: [one] 200px [two] 100px [three];
  gap: 10px;
}

.child {
  background-color: tomato;
  display: flex;
  color: white;
  font-size: 28px;
  align-items: center;
  justify-content: center;
}

.child:last-child {
  background-color: turquoise;
  /* grid-column-start: 2;
  grid-column-end: -1; */
  grid-column: 2 / -1;
}

.child:first-child {
  background-color: turquoise;
  /* grid-row-start: 1;
  grid-row-end: -1; */
  grid-row: 1 / -1;
}
