.body {
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  grid-template-columns: 50px 1fr 50px;
  .bar {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    &:first-child,
    &:last-child {
      grid-column: span 3;
    }
    &:not(:first-child, :last-child) span {
      transform: rotateZ(-90deg);
    }
  }
  .main {
    overflow-y: scroll;
    padding: 0px 30px 30px 30px;
    box-sizing: border-box;
    border: 2px solid black;
    .main__nav ul {
      display: grid;
      .main__nav-item {
        padding: 20px;
        text-align: center;
        font-size: 22px;
        font-weight: 600;
        border-bottom: 2px solid black;
      }
    }
  }
  .filter {
    margin: 30px 0px;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 600;
    .filter__types {
      display: flex;
      gap: 10px;
      color: gray;
      .filter__selected {
        color: black;
      }
    }
  }
  .projects {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    .project {
      display: flex;
      flex-direction: column;

      .project__img {
        width: 100%;
      }
    }
  }
}
