@import "./reset.scss";

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 20px 0px;
  a {
    background-color: black;
    opacity: 0.9;
    padding: 20px 50px;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    color: white;
  }
}
